.container{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    border: medium solid black;
}
.itemsGrid{
    border: medium solid black;
    background-color: blanchedalmond;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}



