html{
  background-color: black;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.memorama{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 500px;
    height: 500px;
    grid-gap: 10px;
    flex-direction: column;
}

.cards{
  width: 125px;
  height: 125px;
  border:medium solid white;
  background-color:cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

